
body { text-align: center;
    background-color: darkcyan;
    background-color: aqua;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}
p{
    color:black;
    font-size: bold;
   
}
#pot{
    border-radius: 20px;
    border: 10px solid #555;
}
#kitty{
    background-image: url("../images/kitty.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#sausage{
    background-image: url("../images/sausage.webp");
}
.odin{
    font-size: 100px;
    color: burlywood;
}
.prep{
    color:mediumblue;
}
.list {
    display: inline-block;
    
    
}
#hawai{
    border-radius: 30px;
    border: 20px solid pink;
}
#shepherd{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 10px solid red;
}
.a1{
    font-size: xx-large;
}
.a2{
    font-size: x-large;
}
.a3{
    font-size: large;
}
.other{
    font-family:fantasy;
    font-size: x-large;
    color:aliceblue;
}
